
Addendum.txt

yeti*.cfg

.pypirc
.*.swp

.DS_Store
.idea/
venv/
pyral/__pycache__/

*.pyc
test/rally_targets.py
test/rally_targets-real.py
test/rally_targets-safe.py
test/raltargs.py
test/.*.swp
*.tar
do_cover
do_qt

collection-attrs
dev-notes-for-1.2.0
*1.2.*
doc/build/html/pyral-docs.html.zip
entity-new.py
get*.py
huuque.py
examples/stryftr.py
rally.cfg
kip.cfg
coll.cfg
nick.cfg
yodel.cfg
examples/rally.cfg
examples/yeti.cfg
*.log
holding-tank/
temp/
.cache
rally-v2.0.cfg
nmds.cfg
notes-1.0.1
notes-1.1.0
notes-1.1.1
query_condition_value_has_matched_internal_parens
spec_char_query
style.sins
test/query_condition_value_has_matched_internal_parens
test/wksp_proj_matrix.notes
v2.notes*
threading-performance.data
codestyle.setup.cfg
.coverage*
cov_html/
release-guide-*
pyral-*.tar.gz
pyral-*.zip
dist/lab/
dists/pyral-*.tgz
dist/sdist-generated
build/
pkin.py
