include LICENSE README.short README.rst setup.py
include template.cfg rallyfire.py
recursive-include pyral *.py
recursive-include doc *.txt *.html *.js *.css *.png *.gif
recursive-include examples *.py

